@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');
html, body { height: 100vh; }
img {
	width: 100%;
	height: 100%;
}
.msg {
	background-color: rgba(0,0,0,0.25);
	border-radius: 5px;
	width: max-content;
	height: max-content;
	text-align: center;
}
.flex {
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	font-family: 'Rubik', sans-serif;
}

div {
	max-width: 100%;
}

h1 {
	font-size: medium;
}

#title {
	font-size: large;
	font-family: 'Rubik Mono One', sans-serif;
}