@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');
img {
	transform: scale(0.5);
}
.msg {
	background-color: rgba(0,0,0,0.25);
	border-radius: 5px;
	width: max-content;
	height: max-content;
	text-align: center;
}
.flex {
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
	font-family: 'Rubik', sans-serif;
}

#title {
	font-family: 'Rubik Mono One', sans-serif;
}